
.ttt-gridbox {
  background-color: gray;
  height: 100px;
  width: 100px;
  align-items: center;
  display: flex;
  margin: 10px;
}

.ttt-gridbox .content {
  font-size: 42px;
  font-weight: bolder;
  margin: 0 auto 0 auto;
}

.blink-me {
  animation: blinker 1s linear infinite;
  color: pink;
}

@keyframes blinker {  
  50% { opacity: 0.0; }
}

.white {
  color: white;
}

.pink {
  color: pink;
}

#player-won {
  color: red;
}